body {
	font-family: Tahoma, Serif;
	background-image: url("../img/background.png");

}



div.wrapper {
	margin: 0 auto;
	margin-top: 25px;
	width: 1200px;
	padding: 20px;
	background-color: white;
	min-height: 600px;
	border-radius: 10px;
	box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.4);
}

div#gameArea {
	text-align: center;
}

div.centered {
	text-align: center;

}

div.right {
    float: right;
    width: 70%;
}

div.left {
    float: left;
    width: 20%;
}

.center {
	text-align: center;
}

.red {
	background-color: #FF6961;
}

.yellow {
	background-color: #FDFD96;
}

.green {
	background-color: #77DD77;
}

.blue {
	background-color: #779ECB;
}

.kvadrat {
	display: inline-block;
	margin: 5px;
	height: 100px;
	width: 100px;
}

.rektangel {
	display: inline-block;
	margin: 5px;
	width: 150px;
	height: 75px;
}

.cirkel {
	display: inline-block;
	margin: 5px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.triangel-green {
	display: inline-block;
	margin: 5px;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #77DD77;
}

.triangel-blue {
	display: inline-block;
	margin: 5px;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #779ECB;
}

.triangel-yellow {
	display: inline-block;
	margin: 5px;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #FDFD96;
}

.progress {
	margin-top: 10px;
}

.progress-wrapper {
	width: 50%;
}


/*Overwrite bootstrap
*/
.btn {
	margin-left: 5px;
}